{% extends "base.html" %}
{% block content %}
<body class="bg-light">
    <div class="container">
        <div class="row">
            {% if context == {} %}
            <hr class="mb-4">
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">Error result.yml</h4>
                <p class="mb-0"> The file result.yml contains errors or was incorrectly generated </p>
            </div>
            {% else %}
            <div class="bs-docs-section mt-4">
                <table class="table table-hover align-middle">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" width="25%">Name</th>
                            <th scope="col" width="15%">Source</th>
                            <th scope="col" width="20%">Current version</th>
                            <th scope="col" width="20%">Latest version</th>
                            <th scope="col" width="20%">Miss releases</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in context.items() %}
                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td> <img src="../static/github.png" width="25"></td>
                            <td>
                                {{ value['current_tag'] }} <br>
                                <small class="text-muted">{{ value['current_tag_date'] }}</small> 
                            </td>
                            <td>
                                <a href='{{ value['latest_tag_url'] }}' target="_blank" class="more">{{ value['latest_tag'] }}</a> <br> 
                                <small class="text-muted">{{ value['latest_tag_date'] }}</small>
                            </td>
                            <td>
                                <span class="fw-bolder">Count: </span>{{ value['missed_releases'] }} <br> 
                                <span class="fw-bolder">Days: </span>{{ value['missed_releases_days'] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {% endblock %}
            </div>
        </div>
    </div>

</body>
{% endblock %}